
body{

    background-color: #181818;
}


.github-container{
width: 300px;
height: 250px;
position: relative;
float:500px;
margin:200px 200px 200px 500px;
box-shadow: #ffff 10px 14px 20px;
animation: github 4s  4 ease-in-out alternate-reverse;

}

img{
    width: 200px;
    margin-left: 50px;  
}
.github-container:hover{
    cursor: pointer;
    opacity:0.1;



}

@keyframes github{
    0%{transformY:(-180px);}
    25%{ background:linear-gradient(#84fab0 0%, #8fd3f4 100%);}
    50%{background:linear-gradient(#7ef459 0%,#72ddf4 100%); }
    75%{background:linear-gradient(#b7f472 0%, #e0f472 100%);}
    100%{transform:translateY(-200px); background:linear-gradient(#f63737 0%,#f49859 100%);}
    from{transform: scaleX(0.5);}
    to{transform: scaleY(1);}
} 